In [44]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [45]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')
submission = pd.read_csv('gender_submission.csv')

In [46]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [47]:
test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [48]:
train.shape

(891, 12)

In [49]:
test.shape

(418, 11)

In [50]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [51]:
train.Pclass.value_counts()

3    491
1    216
2    184
Name: Pclass, dtype: int64

In [52]:
survived = train[train['Survived']==1]
not_survived = train[train['Survived']==0]

In [53]:
train.groupby('Sex').Survived.value_counts()

Sex     Survived
female  1           233
        0            81
male    0           468
        1           109
Name: Survived, dtype: int64

In [54]:
train.groupby('Pclass').Survived.value_counts()

Pclass  Survived
1       1           136
        0            80
2       0            97
        1            87
3       0           372
        1           119
Name: Survived, dtype: int64

In [55]:
train.Embarked.value_counts()

S    644
C    168
Q     77
Name: Embarked, dtype: int64

In [56]:
train.groupby('Embarked').Survived.value_counts()

Embarked  Survived
C         1            93
          0            75
Q         0            47
          1            30
S         0           427
          1           217
Name: Survived, dtype: int64

In [57]:
train.groupby('Parch').Survived.value_counts()

Parch  Survived
0      0           445
       1           233
1      1            65
       0            53
2      0            40
       1            40
3      1             3
       0             2
4      0             4
5      0             4
       1             1
6      0             1
Name: Survived, dtype: int64

In [58]:
train.groupby('SibSp').Survived.value_counts()

SibSp  Survived
0      0           398
       1           210
1      1           112
       0            97
2      0            15
       1            13
3      0            12
       1             4
4      0            15
       1             3
5      0             5
8      0             7
Name: Survived, dtype: int64

In [59]:
train.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [60]:
train['Age'] = train['Age'].fillna(train['Age'].median())
train['Fare'] = train['Fare'].fillna(train['Fare'].median())
train['Embarked'] = train['Embarked'].fillna(train['Embarked'].mode()[0])

test['Age'] = test['Age'].fillna(test['Age'].median())
test['Fare'] = test['Fare'].fillna(test['Fare'].median())
test['Embarked'] = test['Embarked'].fillna(test['Embarked'].mode()[0])

In [61]:
# # final_data = .fillna(0)
# for i in final_data:
#     i['Sex']=i['Sex'].map({'male':0,'female':1}).astype(int)
sex1={'male':1, 'female':2}
train.Sex=train.Sex.map(sex1)
test.Sex=test.Sex.map(sex1)

In [62]:
embark1={'C':1, 'Q':2, 'S':3}
train.Embarked=train.Embarked.map(embark1)
test.Embarked=test.Embarked.map(embark1)

In [63]:
remove = ['Name','Ticket','Cabin']
train1 = train.drop(remove,axis=1)
test1 = test.drop(remove,axis=1)

In [64]:
train1.head()

   PassengerId  Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0            1         0       3    1  22.0      1      0   7.2500         3
1            2         1       1    2  38.0      1      0  71.2833         1
2            3         1       3    2  26.0      0      0   7.9250         3
3            4         1       1    2  35.0      1      0  53.1000         3
4            5         0       3    1  35.0      0      0   8.0500         3

In [65]:
train1.drop('PassengerId', axis=1)

     Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0           0       3    1  22.0      1      0   7.2500         3
1           1       1    2  38.0      1      0  71.2833         1
2           1       3    2  26.0      0      0   7.9250         3
3           1       1    2  35.0      1      0  53.1000         3
4           0       3    1  35.0      0      0   8.0500         3
..        ...     ...  ...   ...    ...    ...      ...       ...
886         0       2    1  27.0      0      0  13.0000         3
887         1       1    2  19.0      0      0  30.0000         3
888         0       3    2  28.0      1      2  23.4500         3
889         1       1    1  26.0      0      0  30.0000         1
890         0       3    1  32.0      0      0   7.7500         2

[891 rows x 8 columns]

In [66]:
y_train1 = train1['Survived']

In [67]:
X_train1=train1.drop('Survived',axis=1)

In [68]:
X_test1=test1

In [69]:
passengerid=X_test1['PassengerId']

In [70]:
# train.groupby('Sex').Survived.value_counts()
# # final_data=[train,test]
# for i in final_data:
#     i['Sex']=i['Sex'].map({'female':1,'male':0}).astype(int)

#  Decision Tree

In [71]:
from sklearn.tree import DecisionTreeClassifier
model=DecisionTreeClassifier()
model.fit(X_train1,y_train1)

DecisionTreeClassifier()

In [72]:
prediction_decision = model.predict(X_test1)

In [73]:
accuracy_DecisionTree = model.score(X_test1,prediction_decision)*100

In [74]:
print("Accuracy of Decision Tree is",accuracy_DecisionTree)

Accuracy of Decision Tree is 100.0

In [75]:
accuracy_DecisionTree

100.0

In [76]:
ID=pd.DataFrame(passengerid, columns=['PassengerId'])
Surv=pd.DataFrame(prediction_decision,columns=['Survived'])
submission = pd.concat([ID, Surv], axis=1)
submission.to_csv('gender_submission.csv',index= False)

In [77]:
submission

     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         0
4            896         0
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         1

[418 rows x 2 columns]

#  Logistic Regression

In [78]:
from sklearn.linear_model import LogisticRegression

In [79]:
model = LogisticRegression()

In [80]:
model.fit(X_train1,y_train1)

LogisticRegression()

In [81]:
predict_Log_regression = model.predict(X_test1)

In [82]:
accuracy = model.score(X_train1,y_train1)*100
accuracy

80.02244668911335

In [83]:
ID=pd.DataFrame(passengerid, columns=['PassengerId'])
Surv=pd.DataFrame(predict_Log_regression,columns=['Survived'])
submission = pd.concat([ID, Surv], axis=1)
submission.to_csv('gender_submission.csv',index= False)
submission

     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         0
4            896         1
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]